// navigation


nav{
    background-color: $blue;
    text-transform: uppercase;
    overflow: hidden;
    position: sticky;
    opacity: 0.9;
    top:0;
    z-index: 10;
}


.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.name-email{
    width: 100%;
    text-align: left;
    &:hover,
    &:focus{
        text-decoration: underline;
    }
}

.menu-icon{
    cursor: pointer;
    padding: 2em;
}

.hamburger{
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after{
    width:2.5em;
    height:4px;
    border-radius: 2px;
    background-color: #fff;
    transition: transform 0.3s ease-in-out, opacity 0.2s ease-out;
}

.hamburger::before,
.hamburger::after{
    content:"";
    position: absolute;
    left: 0;
}


.hamburger::before{
    bottom: 8px;
} 

.hamburger::after{
    top: 8px;
}

// on click .nav-open class is added

.nav-open .hamburger{
    transform: rotate(45deg);

}

.nav-open .hamburger::after{
    transform: rotate(90deg);
    top:1px;
}

.nav-open .hamburger::before{
    opacity: 0;
}

.navigation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    right:-190px;
    top:65px;
    width: 180px; 
    height: 215px;
    background-color:#528A4B; 
    -moz-border-radius: 100px 0px;
    -webkit-border-radius: 100px 0px;
    border-radius: 100px 0px;
    transition: all 0.3s ease-in-out;
    li{
        margin: 0.5em 0 0.5em;
        a{
            padding: 0.5em;
            &:hover,
            &:focus{
                text-decoration: underline;
                text-decoration-thickness: 3px;
            }
        }
    }
}

.slide-out-menu{
    overflow: visible;
}

.slide-out-menu .navigation{
    right: 10px;
}








   