// portfolio



.portfolio{
    background-color: $orange;
    h2{
        &::before{
            content: url(../../assets/tree1.svg);
            width: 80px;
            display: block;
            position: absolute;
            left: -68px;
            top: -62px;
        }
    }
}

h2,
h3{
    text-transform: uppercase;
    letter-spacing: 3px;
    color: $dark-grey;
}

h2{
    font-size: 4rem;
    font-weight: 400;
    position: relative;
}



section .wrapper > h3{
    font-size: 2.5rem;
    font-weight: 200;
    color: $body-color;
   
}

.tech{
    display: flex;
}

.projects{
   li{
       display: flex;
       justify-content: center;
       .img{
           flex: 1;
           text-align: right;
           padding: 0 2em 0 2em;
       }
       .content{
           flex: 1;
           display: flex;
           flex-direction: column;
           justify-content: center;
           p{
               max-width: 30ch;
           }
           i{
               font-size: 2.5rem;
               margin-right: 0.5em;
               color: $dark-grey;
           }
           span{
               font-weight: 800;
           }
       }
   }
}

.projects li:nth-child(2n){
    flex-direction: row-reverse;
    .img{
        text-align: left;
    }
    .content{
        text-align: right;
        align-items: flex-end;
    }
}

