@import 'setup';
@import 'variable';
@import 'navigation';
@import 'portfolio';
@import 'angles';

// general styles

body{
    font-family: $secondary;
    font-size: 1.4rem;
    overflow-x: hidden;
}

.wrapper{
    max-width: 1080px;
    width: 90%;
    margin: 0 auto;
}

.heading-container{
    width: 75%;
    margin: 0 auto;
}

button{
    padding: 7px 16px;
    border-radius: 500px;
    border: none;
    text-transform: uppercase;
    font-family: $secondary;
    font-weight: 400;
    background-color: $grey;
    margin-top: 1em;
        &:focus,
        &:hover{
            background-color: $green;
            transition: background-color 0.2s ease-in-out;
        }
   }

h1,
h2,
h3{
    font-family: $primary;
    margin: 0;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}


a{
    color: inherit;
    text-decoration: none;
}

header,
section{
    padding: 5em 0 5rem 0;
}

section{
    p{
        color: $body-color;
        font-weight: 200;
        line-height: 1.5;
    
    }
}

// header styles

header{
    background-color: $green;
    text-transform: uppercase;
}

.title{
    display: flex;
    align-items: center;
}

.header-img{
    width: 500px;
    z-index: 9;
}


h1{
    color: #FFF;
    font-size: 5rem;
    flex-shrink: 2;
}

.position-left{
    transform: translateX(-700px);
    opacity: 0;
}

.slide-in{
    transform: translateX(0);
    opacity: 1;
    transition: transform 0.5s ease-in, opacity 0.8s ease-in;
}

.angle1{
    position: relative;
    &::before{
        content: " ";
        width: 100%;
        height: 50px;
        display: inline-block;
        background-color:$green;
        clip-path: polygon(50% 100%, 100% 0, 0 0);
        position: absolute;
    }
}

// blog styles

.blog{
    background-color: $pink;
    h2{
        &::before{
            content: url(../../assets/tree4.svg);
            width: 80px;
            display: block;
            position: absolute;
            left: -68px;
            top: -62px;
        }
    }
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    .blog-img{
        margin-right: 2em;
        margin-left: 2em;
    }
    .blog-content{
        max-width: 50ch;
        margin-top: 3em;
        flex-shrink: 2;
    }
}


// contact styles

.contact{
    background-color: $blue;
    h3 + h2{
        &::before{
            content: url(../../assets/tree2.svg);
            width: 80px;
            display: block;
            position: absolute;
            left: -68px;
            top: -62px;

        }
    }
}

.contact-info{
    display: flex;
    justify-content:center;
    padding-top: 2em;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;

    input{
        margin: 0.5em;
        width: 100%;
        border-radius: 500px;
    }

    textarea{
        border-radius: 19px;
        margin-top: 0.5em;
    }

    input,
    textarea{
        border: none;
        padding: 1rem;
        font-family: $secondary;
       
    }

    button{
        align-self: flex-start;
    }
}

.about-me{
    width: 50%;
    margin-left: 2em;
    h2{
        font-size: 2rem;
    }
}

.socials{
    display: flex;
    margin-top: 1em;
    a{
        padding-right:0.5rem;
        font-size: 2.5rem;
        cursor: pointer;
        &:hover,
        &:focus{
            color: $green;
            transition: color 0.3s ease-in-out;
        }
    }
}

// footer styles

footer{
    text-align: center;
    padding:0.5em;
}

// media queries

@media (max-width: 720px){

    // MQ HEADER
    nav{
        li{
            text-align: left;
            font-size: 1.3rem;
        }
    }
    .title{
        flex-direction: column;
        .header-img{
            align-self: flex-end;
            width: 200px;
        }
    }
    h1{
        font-size: 4rem;
    }

    // MQ PORTFOLIO

    .portfolio{
        li{
            flex-direction: column;
            .img{
                text-align: center;
            }
        }
    }

    .projects li:nth-child(2n){
        flex-direction: column;
        .img{
            text-align: center;
        }
        .content{
            text-align: left;
            align-items: flex-start;
        }
    }

    .projects li .content p{
        max-width: 100%;
    }

    .from-right{
        transform: translateX(0);
    }
    
    .from-left{
        transform: translateX(0);
    }

    // MQ BLOG SECTION

    .blog-img{
        margin-top: 2em;
    }

    // MQ CONTACT INFO

    .contact-info{
        flex-direction: column;
        textarea{
            width: 100%;
        }
    }
    .about-me{
        margin-top: 2em;
        width: 100%;
        margin-left: 0;
    }

    .container{
        flex-direction: column;
    }
}









