@import 'setup';
@import 'variable';
@import 'navigation';
@import 'portfolio';

// general styles

body{
    font-family: $secondary;
    font-size: 1.4rem;
}

.wrapper{
    max-width: 1080px;
    width: 90%;
    margin: 0 auto;
}

.heading-container{
    width: 75%;
    margin: 0 auto;
}

button{
    padding: 7px 16px;
    border-radius: 500px;
    border: none;
    text-transform: uppercase;
    font-family: $secondary;
    font-weight: 400;
    background-color: $grey;
    margin-top: 1em;
        &:focus,
        &:hover{
            background-color: $green;
            transition: background-color 0.2s ease-in-out;
        }
   }

h1,
h2,
h3{
    font-family: $primary;
    margin: 0;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}


a{
    color: inherit;
    text-decoration: none;
}

header,
section{
    padding: 5em 0 5rem 0;
}

section{
    p{
        color: $body-color;
        font-weight: 200;
        line-height: 1.3;
    
    }
}

// header styles

header{
    background-color: $green;
    text-transform: uppercase;
}

.title{
    display: flex;
    align-items: center;
}

.header-img{
    width: 500px;
}


h1{
    color: #FFF;
    font-size: 5rem;
}

// portfolio styles in seperate component. look for _portofolio.scss

// blog styles

.blog{
    background-color: $pink;
    h2{
        &::before{
            content: url(../../assets/tree2.svg);
            width: 80px;
            display: block;
            position: absolute;
            left: -68px;
            top: -62px;
        }
    }
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
    .blog-img{
        margin: 2em;
    }
    .blog-content{
        max-width: 50ch;
    }
}


// contact styles

.contact{
    background-color: $blue;
    h3 + h2{
        &::before{
            content: url(../../assets/tree4.svg);
            width: 80px;
            display: block;
            position: absolute;
            left: -68px;
            top: -62px;

        }
    }
}

.contact-info{
    display: flex;
    justify-content:center;
    padding-top: 2em;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;

    input{
        margin: 0.5em;
        width: 100%;
        border-radius: 500px;
    }

    textarea{
        border-radius: 19px;
    }

    input,
    textarea{
        border: none;
        padding: 1rem;
        font-family: $secondary;
    }

    button{
        align-self: flex-start;
    }
}

.about-me{
    width: 50%;
    margin-left: 2em;
    h2{
        font-size: 2rem;
    }
    p{
        line-height: 1.6;
    }
}

.socials{
    display: flex;
    margin-top: 1em;
    a{
        padding-right:1em;
        font-size: 2.5rem;
        cursor: pointer;
        &:hover,
        &:focus{
            color: $green;
            transition: color 0.3s ease-in-out;
        }
    }
}

// footer styles

footer{
    text-align: center;
    padding:0.5em;
}



