html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

nav {
  background-color: #BAD1ED;
  text-transform: uppercase;
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  opacity: 0.9;
  top: 0;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.name-email {
  width: 100%;
  text-align: center;
}

.menu-icon {
  cursor: pointer;
  padding: 2em;
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  width: 2.5em;
  height: 4px;
  border-radius: 2px;
  background-color: #fff;
  -webkit-transition: opacity 0.2s ease-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.2s ease-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, opacity 0.2s ease-out;
  transition: transform 0.3s ease-in-out, opacity 0.2s ease-out, -webkit-transform 0.3s ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
}

.hamburger::before {
  bottom: 8px;
}

.hamburger::after {
  top: 8px;
}

.nav-open .hamburger {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav-open .hamburger::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 1px;
}

.nav-open .hamburger::before {
  opacity: 0;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  right: -190px;
  top: 65px;
  width: 180px;
  height: 215px;
  background-color: #A0DE21;
  border-radius: 100px 0px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navigation li {
  margin: 0.5em 0 0.5em;
}

.navigation li a {
  padding: 0.5em;
}

.navigation li a:hover, .navigation li a:focus {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

.slide-out-menu {
  overflow: visible;
}

.slide-out-menu .navigation {
  right: 10px;
}

.portfolio {
  background-color: #FECBA7;
}

h2,
h3 {
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #333333;
}

h2 {
  font-size: 4rem;
  font-weight: 400;
}

section .wrapper > h3 {
  font-size: 2.5rem;
  font-weight: 200;
  color: #666666;
}

.tech {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects li .img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
  padding: 0 2em 0 2em;
}

.projects li .content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects li .content p {
  max-width: 30ch;
}

.projects li .content i {
  font-size: 2.5rem;
  margin-right: 0.5em;
  color: #333333;
}

.projects li:nth-child(2n) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.projects li:nth-child(2n) .img {
  text-align: left;
}

.projects li:nth-child(2n) .content {
  text-align: right;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

body {
  font-family: "Proza Libre", sans-serif;
  font-size: 1.4rem;
}

.wrapper {
  max-width: 1080px;
  width: 90%;
  margin: 0 auto;
}

button {
  padding: 7px 16px;
  border-radius: 500px;
  border: none;
  text-transform: uppercase;
  font-family: "Proza Libre", sans-serif;
  font-weight: 400;
  background-color: #E6E6E6;
  margin-top: 1em;
}

button:focus, button:hover {
  background-color: #A5E9D4;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

h1,
h2,
h3 {
  font-family: "Jost", sans-serif;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

header,
section {
  padding: 5em 0 5rem 0;
}

section p {
  color: #666666;
  font-weight: 200;
  line-height: 1.3;
}

header {
  background-color: #A5E9D4;
  text-align: center;
  text-transform: uppercase;
}

h1 {
  color: #FFF;
  font-size: 5rem;
}

.blog {
  background-color: #FEB7C0;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2em;
}

.container .blog-img {
  margin: 2em;
}

.container .blog-content {
  max-width: 50ch;
}

.contact {
  background-color: #BAD1ED;
}

.contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1em;
}

.socials a {
  padding-right: 1em;
  font-size: 2.5rem;
  cursor: pointer;
}

.socials a:hover, .socials a:focus {
  color: #A5E9D4;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
